{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'vendor/css/rtl/core.css' %}" class="template-customizer-core-css" />
    <link rel="stylesheet" href="{% static 'vendor/css/rtl/theme-default.css' %}" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="{% static 'css/demo.css' %}" />
</head>
<body>

    <div class="container-fluid" style="margin-top: 150px; width: 800px; align-items: center;"  >
        {% if messages %}
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-6 offset-md-3">
                                            <div class="alert alert-primary">
                                                {% for m in messages %}
                                                    <p>{{ m }}</p>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
        <div class="card-body mt-1">
          <h4 class="mb-1">Forgot Password? 🔒</h4>
          <p class="mb-5">Enter your username and we'll send you an email verification</p>
          <form class="mb-5 fv-plugins-bootstrap5 fv-plugins-framework"  method="post" >
            {% csrf_token %}
            <div class="form-floating form-floating-outline mb-5 fv-plugins-icon-container">
              <input type="text" class="form-control" id="username" name="username" placeholder="Enter your username" autofocus="">
              <label>username</label>
            <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></div></div>
            <button type="submit" class="btn btn-primary d-grid w-100 mb-5 waves-effect waves-light">Send Reset Link</button>
          </form>
          <div class="text-center">
            <a href="auth-login-basic.html" class="d-flex align-items-center justify-content-center">

              Back to login
            </a>
          </div>
        </div>
      </div>
    </div>
</body>
</html>